

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
 

}

body{
 /* background: #0f0c29; */
  background: #b7b7be;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  background-image: url("C:\Users\AABANDAR\Pictures\Saved Pictures\login.png");
  background-repeat: no-repeat;
  background-size: "cover";
  /*background-image: url("C:\Users\AABANDAR\Pictures\Saved Pictures\bank.jpg"
        );
        background-size: "cover";
        height: 100vh;
        margin-top: -70px;
        font-size: 50px;
        background-repeat: no-repeat;*/
  
}

 /* .auth-form,.login-form, .register-form{
  display : flex;
  flex-direction: column;
  align-items: center; 
  
}  */
.auth-form{
  /* max-width: 978px; */
  max-width: 530px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.reg-form{
  max-width: 700px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: white;
  
 
}

.remove{
  max-width: 30%;
  height: 55%;
  width: 100vw;
  display:flex;
  flex-direction: column;
  align-items: center; 
  border: 15px solid #ffffff;
  border-radius: 10px;
  background-color: white;
}


.details{
  display : flex;
  flex-direction: column;
  align-items: center; 
   background-color: white;
   padding: 14rem 41rem;
 /* min-height: 100vh;
  min-width: 240vh; */

}

.profileDetails{
  display : flex;
  flex-direction: column;
  align-items: center; 
   background-color: white;
   padding: 10rem 39rem;
}

.feedbackDetails{
  display : flex;
  flex-direction: column;
  align-items: center; 
   background-color: white;
   padding: 13rem 39rem;
}
.feedback{
  display : flex;
  flex-direction: column;
  align-items: center; 
   background-color: white;
    padding: 5.9rem 37.4rem;
 /* min-height: 100vh;
  min-width: 240vh; */

}
.TnC{
  background-color: white;
  padding : 5.5rem 20rem;
}

#logout,#TnC ,#Profile 
{
  background-color: #302b63;
  /* padding-left: 5%; */
}
.headerbtn{
  padding-left: 65%;
}


/* .auth-form{
   padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  background-image: linear-gradient(79deg, #7934db, #c66fbc 48%, #f7944d);
  background-image: url("C:\Users\AABANDAR\Pictures\Screenshots\login.avif");
} */


label{
 text-align:left;
 padding: 0.25rem 0; 
}

input{
 /* margin: 0.5rem 0;
padding: 0.5rem;
 border: 1px; */
border-radius: 10px;
}

select{
  border-radius: 10px;
}

button{
  border : none;
  /* background-color: white; */
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn{
  background: none;
  /* color: white; */
  text-decoration: underline;
}

#btn1{
  border : none;
  background-color: #302b63;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

#form, #regform{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
  
}

#regform{
  max-width: 320px;
  width: 100vw;
  margin-left: 190px;
  padding: 0%;
  
}


#regform >  input, .btn{
  border: 3px solid #e9ecef;
}

#regform > input:focus{
  outline: none;
}

#form >  input, .btn{
  border: 3px solid #e9ecef;
  padding: .6em 1em;
}

#remove > input{
  border: 3px solid #e9ecef;
  padding: .6em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn, #remove> .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#regform > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}
#remove> .btn{
  display:inline-block;
}

.flex{
  display: flex;
  gap: 0.5em;
}

.regform{
  display: flex;
  /* gap: 0.5em; */
}
.flex-col{
  flex-direction: column;
  /* margin: 30%; */
}

.auth-form .col-1{
  margin: auto;
  padding: 3em 0;
  margin: 21%;
 
}

.regform .col-1{
  margin: auto;
  padding: 3em 0;
  /* margin: 50%; */
 
}

/* #newpwd, #newpwdlbl{
  visibility: hidden;
} */

 .footer{
  /* margin-top: 1rem;
  padding: 1rem; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  background-color: #302b63;
}

.header{
  padding: 1rem;
  background-color: #302b63;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  
}
/* .row{
 padding:1rem;
} */
.footer .col-lg-3 {
  width: 9%;
}
#name{
  color: white;
}
